.keep-this-here {
    display:block;
}

@import "./ui-framework.less";

body {
    background-color: #215797;
    font-family: Avenir;
    opacity: 0.9;
}

.learn-more {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 250px;
    background-color: white;
    text-align: center;  
    max-width: 590px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;  
}
.learn-more h2{ 
    font-size:  24px;
    font-weight: 700;
    line-height: 24px;
    padding: 20px;
}
.learn-more h3{
    font-size:  16px;
    font-weight: 400;
    line-height: 24px;
}

.trainingbutton {
  background-color: green; 
  color: white;
  border-radius: 24px;
  height: 35px;
}

.trainingicon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    width: 590px;
    height: 320px;
}

.training-modal {
    height: 570px;
}






