.keep-this-here {
    display:block;
}

@import "./ui-framework.less";

.test {
    background-color:@kng-color-dark-yellow;
}

.container1{
    height: 800px;
    width: 500px;
    background-color: @kng-color-dark-blue;
}
